/*
Theme Name: child-betheme
Description: child-betheme
Author: Next Levels GbR (Martin Kozlowski)
Author URI: http://www.next-levels.de
Template: betheme
Version: 1.0
Tags:
*/

body:not(.template-slider) #Header {
	min-height: 100px !important;
}

#Top_bar {
	top: 20px !important;
}
#Top_bar .logo {
	margin: 0 !important;
}
#Top_bar #logo{
	padding: 0 !important;
}
#Top_bar .top_bar_right{
	position:  initial !important;
}
#Top_bar .menu > li > a span:not(.description){
	line-height: 30px !important;
}
#Top_bar .search_wrapper {
	width: 30% !important;
	height: 40px;
	margin-top: 5px;
	right: 0;
	left: initial !important;
}
#Top_bar .search_wrapper .icon-search{
	top: 12px !important;
}
#Top_bar .search_wrapper{
	padding: 3px 20px 15px !important;
}
#Top_bar .search_wrapper .icon_close{
	top: 11px !important;
}
#Top_bar a#search_button {
	top: -3px !important;
}

/*** footer style ***/

#Footer .footer_action {
	background-color: #2887c8 !important;
	border-bottom: 1px solid white;
}
#Footer .widgets_wrapper{
	background-color: #2887c8 !important;
	color: white;
}