/*
Theme Name: child-betheme
Description: child-betheme
Author: Next Levels GbR (Martin Kozlowski)
Author URI: http://www.next-levels.de
Template: betheme
Version: 1.0
Tags:
*/

/*** body style ***/

body{
    /*background-color: white;*/
}
#Wrapper{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*** header styling ***/

.plan-energie-header{
    max-width: 1220px !important;
    width: 100% ;
    margin: 0 !important;
}
.plan-energie-column {
    width: 100% !important;
    margin: 0 !important;
}
.plan-energie-wrap{
    width: 100% !important;
}
#Header_wrapper {
    background-color: #fff !important;
}
.top_bar_left{
    background-color: #f0f0f0 !important;
}
.logo{
    background-color: #2887c8 !important;
    width: 33.33%;
}
#logo{
    text-align: center;
}
#Top_bar .top_bar_right{
    height: 60px !important;
}
#Header .top_bar_right {
    background-color: #f0f0f0 !important;
}

/*** footer styling ***/

.footer-logo{
    width: 25%;
    float: left;
    margin-left: 5px;
}
#menu-footermenu{
    color: white !important;
}
#menu-footermenu li{
    list-style: none !important;
    float: right !important;
    margin-right: 15px !important;
}
#menu-footermenu li a{
    color: white !important;
}
.footer-social a{
    margin-right: 7px !important;
}

/*** Beratung Style ***/

#menu-beratunguntermenu{
    border-top: 1px solid #2887c8;
    padding-top: 10px;
    margin-left: 0;
}
#menu-beratunguntermenu li {
    list-style: none !important;
    border-bottom: 1px solid #2887c8;
    padding: 0 0 10px;
    font-size: 16px;
}
#menu-beratunguntermenu li a {
    color: #626262;
}
#menu-beratunguntermenu li span {
    font-size: 25px;
    color: #2887c8;
    float: right;
}

/*** Einkauf Style ***/

#menu-einkaufuntermenu{
    border-top: 1px solid #2887c8;
    padding-top: 10px;
    margin-left: 0;
}
#menu-einkaufuntermenu li {
    list-style: none !important;
    border-bottom: 1px solid #2887c8;
    padding: 0 0 10px;
    font-size: 16px;
}
#menu-einkaufuntermenu li a {
    color: #626262;
}
#menu-einkaufuntermenu li span {
    font-size: 25px;
    color: #2887c8;
    float: right;
}

/*** controlling Style ***/

#menu-controllinguntermenu{
    border-top: 1px solid #2887c8;
    padding-top: 10px;
    margin-left: 0;
}
#menu-controllinguntermenu li {
    list-style: none !important;
    border-bottom: 1px solid #2887c8;
    padding: 0 0 10px;
    font-size: 16px;
}
#menu-controllinguntermenu li a {
    color: #626262;
}
#menu-controllinguntermenu li span {
    font-size: 25px;
    color: #2887c8;
    float: right;
}

/*** content style ***/

.paragraph-content{
    font-size: 16px;
    margin-bottom: 0px;
}
.advice-divider{
    margin-top: -30px !important;
}